In [ ]:
!pip install mysql-connector

In [2]:
import mysql.connector   #importing database
database = mysql.connector.connect(
    host="localhost",
    user= "root",
    password="",
    database= "python8am")

db = database.cursor()

In [3]:
db.execute("SELECT * FROM student")
result =db.fetchall()
# for x in result:
#     print(x)
result

[(1, 'Hari kushal ', 35, 35, 36, 90, 100, 296, 14.8, 'P'),
 (2, 'Hari kumar Shah', 100, 100, 100, 100, 100, 500, 100.0, 'A'),
 (3, 'Subarna', 100, 100, 100, 100, 100, 500, 100.0, 'A+'),
 (4, 'Subarna Nepal', 75, 75, 75, 75, 75, 375, 75.0, 'B+'),
 (5, 'Subarna Nepal', 75, 75, 75, 75, 75, 375, 75.0, 'B+'),
 (6, 'Subarna Nepal', 75, 75, 75, 75, 75, 375, 75.0, 'B+'),
 (12, 'Subarna Nepal', 75, 75, 75, 75, 75, 375, 75.0, 'B+')]

In [4]:
db.execute("SELECT Serialnumber,name,per,Total,Grade FROM student")
result =db.fetchall()
# for x in result:
#     print(x)
result

[(1, 'Hari kushal ', 14.8, 296, 'P'),
 (2, 'Hari kumar Shah', 100.0, 500, 'A'),
 (3, 'Subarna', 100.0, 500, 'A+'),
 (4, 'Subarna Nepal', 75.0, 375, 'B+'),
 (5, 'Subarna Nepal', 75.0, 375, 'B+'),
 (6, 'Subarna Nepal', 75.0, 375, 'B+'),
 (12, 'Subarna Nepal', 75.0, 375, 'B+')]

In [5]:
db.execute("SELECT * FROM student WHERE Serialnumber = 1")
result =db.fetchall()
# for x in result:
#     print(x)
result

[(1, 'Hari kushal ', 35, 35, 36, 90, 100, 296, 14.8, 'P')]

In [6]:
db.execute("SELECT * FROM student WHERE grade = 'A+'")
result =db.fetchall()
# for x in result:
#     print(x)
result

[(3, 'Subarna', 100, 100, 100, 100, 100, 500, 100.0, 'A+')]

In [7]:
    # insert data

In [8]:
sql = """INSERT INTO `student` (`Serialnumber`, `Name`, `Physic`, `Chemistry`, `Math`, `Science`, `English`, `Total`, `Per`, `Grade`) VALUES ('12', 'Subarna Nepal', '75', '75', '75', '75', '75', '375', '75', 'B+');"""
db.execute(sql)
database.commit()

IntegrityError: 1062 (23000): Duplicate entry '12' for key 'PRIMARY'

In [8]:
Name = input("Enter Name = ")
Physic = int(input("Enter Physic = "))
Chemistry = int(input("Enter Chemistry = "))
Math = int(input("Enter Math = "))
Science = int(input("Enter Science = "))
English = int(input("Enter English = "))

Total = Physic + Chemistry + Math + English 
Percentage = Total/5

if Percentage >80 or Percentage == 80:
    Grade = "A"
elif Percentage >60 or Percentage == 60:
    Grade = "B"
elif Percentage >45 or Percentage == 45:
    Grade = "C"
else:
    Grade = "F"
    
print("The Total value is ",Total)
print("The Percentage = ",Percentage)

sql = f"""INSERT INTO student (Name, Physic, Chemistry, Math, Science, English, Total, Percentage, Grade) 
VALUES ('{Name}',{Physic},{Chemistry},{Math},{Science},{English},{Total},{Percentage},'{Grade}');"""
db.execute(sql)
database.commit()

Enter Name = Subarna
Enter Physic = 1
Enter Chemistry = 1
Enter Math = 1
Enter Science = 1
Enter English = 1
The Total value is  4
The Percentage =  0.8

ProgrammingError: 1054 (42S22): Unknown column 'Percentage' in 'field list'

In [9]:
db.execute("SELECT Serialnumber,name,per,Total,Grade FROM student")
result =db.fetchall()
# for x in result:
#     print(x)
result

[(1, 'Ram kumar', 14.8, 296, 'P'),
 (2, 'Hari kumar Shah', 100.0, 500, 'A'),
 (3, 'Subarna', 100.0, 500, 'A+'),
 (4, 'Subarna Nepal', 75.0, 375, 'B+'),
 (5, 'Subarna Nepal', 75.0, 375, 'B+'),
 (6, 'Subarna Nepal', 75.0, 375, 'B+'),
 (12, 'Subarna Nepal', 75.0, 375, 'B+')]

In [12]:
sql = '''UPDATE student SET name = "Hari kushal " Where name = "Ram kumar"'''
db.execute(sql)
database.commit()

In [ ]:
subject = input("Enter Subject name = ")
marks = int(input("Enter marks = "))
Student_id = int(input("Enter Student id  = "))
sql = '''UPDATE student SET {subject} = {marks} Where sn = {Student_id}'''
db.execute(sql)
database.commit()

In [9]:
db.execute("SELECT * FROM student WHERE Serialnumber = 1")
result =db.fetchall()
# for x in result:
#     print(x)
result

[(1, 'Hari kushal ', 35, 35, 36, 90, 100, 296, 14.8, 'P')]

In [ ]:
db.execute("SELECT * FROM student WHERE Serialnumber = 1")
result =db.fetchall()
# for x in result:
#     print(x)
result