In [2]:
# Dictionary
# -indexing
# -orderd
# -mutiple data
# -Mutable

In [4]:
# Indexing
d = {'a': 'Apple','b': 'Ball','c': 'Cat'}
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [5]:
print(d['a'])

Apple

In [6]:
len(d)

3

In [8]:
# # + * yo garna paidaina dictionary ma 
# {} yo use vako ma

In [9]:
d = {'a': 'Apple','b': 'Ball','c': 'Cat'}
for i in d:
    print(i)

a
b
c

In [10]:
d = {'a': 'Apple','b': 'Ball','c': 'Cat'}
for i in d:
    print(i,end = " ")

a b c

In [12]:
d = {'a': 'Apple','b': 'Ball','c': 'Cat'}
for i in d.values():
    print(i,end = " ")

Apple Ball Cat

In [14]:
#tuple pani vaninxa yo bracket ma aako lai aahile lai hami le array vanna pani milxa 
d = {'a': 'Apple','b': 'Ball','c': 'Cat'}
for i in d.items():
    print(i,end = " ")

('a', 'Apple') ('b', 'Ball') ('c', 'Cat')

In [18]:
a = [['a', 'Apple'],['b', 'Ball'],['c', 'Cat']]
dict(a)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [19]:
a = [['a', 'Apple'],['b', 'Ball'],['c', 'Cat']]
list(a)

[['a', 'Apple'], ['b', 'Ball'], ['c', 'Cat']]

In [27]:
# # create
# d = dict()
# d = {}  maping ko lagi pani use hunxa
d['c'] = "Apple"
d

{'a': 'Apple', 'b': 'Apple', 'c': 'Apple'}

In [28]:
d

{'a': 'Apple', 'b': 'Apple', 'c': 'Apple'}

In [29]:
d = {}
d['a'] = 'Apple'
d['b'] = 'Ball'
d['c'] = 'Cat'
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [31]:
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
d['e'] = 'Ant'
d['d'] = 'Dog'
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'e': 'Ant', 'd': 'Dog'}

In [32]:
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'e': 'Ant', 'd': 'Dog'}
del a['d']
print(a)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'e': 'Ant'}

In [34]:
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'e': 'Ant', 'd': 'Dog'}
b = a.pop('d')
print(b)
print(a)

Dog
{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'e': 'Ant'}

In [35]:
# dictionary ma remove vanne use hudaina

In [36]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    d[phone] = name
print(d)

Enter n = 2
Enter name = Subarna
Enter phone = 9818
Enter name = Nepal
Enter phone = 61333
{9818: 'Subarna', 61333: 'Nepal'}

In [38]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    d[name] = phone
print(d)

Enter n = 2
Enter name = Subarna
Enter phone = 9861
Enter name = Nepal
Enter phone = 333
{'Subarna': 9861, 'Nepal': 333}

In [39]:
# list inside dictionary

In [41]:
d = {'Ram': [861,3330],"Shyam": [90111,235163]}
print(d)

{'Ram': [9861, 3330], 'Shyam': [90111, 235163]}

In [42]:
print(d['Ram'][0])

9861

In [45]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_phone = int(input("Enter phone = "))
    ncell_phone = int(input("Enter ncell phone = "))
    d[name] = [ntc_phone,ncell_phone]
print(d)

Enter n = 2
Enter name = Subarna
Enter phone = 15456
Enter ncell phone = 15485
Enter name = Nepal
Enter phone = 25648
Enter ncell phone = 12548
{'Subarna ': [15456, 15485], 'Nepal': [25648, 12548]}

In [49]:
d = {"name":["Ram","Shyam","Hari"],
    'ntc_number':[9861,2331,215,],
    'ncell_number':[947516,1631,3163]}
print(d)

{'name': ['Ram', 'Shyam', 'Hari'], 'ntc_number': [9861, 2331, 215], 'ncell_number': [947516, 1631, 3163]}

In [53]:
d = {'name':[],
    "ntc_number":[],
    "ncell_number":[]}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_number = int(input("Enter phone = "))
    ncell_number = int(input("Enter ncell phone = "))
    d['name'].append(name)
    d['ntc_number'].append(ntc_number)
    d["ncell_number"].append(ncell_number)
print(d)

Enter n = 2
Enter name = Subarna
Enter phone = 898
Enter ncell phone = 54156
Enter name = Subarna
Enter phone = 198412
Enter ncell phone = 154
{'name': ['Subarna', 'Subarna'], 'ntc_number': [898, 198412], 'ncell_number': [54156, 154]}

In [55]:
print(d['name'][0],d["ntc_number"][0],d["ncell_number"][0])

Subarna 898 54156

In [58]:
# dict inside list
d = [{"name":"Ram","age":34,"address":"kathmandu"},
    {"name":"Shyam","age":24,"address":"Lalitpur"},
    {"name":"Hari","age":54,"address":"Bhaktpur"}]

d

[{'name': 'Ram', 'age': 34, 'address': 'kathmandu'},
 {'name': 'Shyam', 'age': 24, 'address': 'Lalitpur'},
 {'name': 'Hari', 'age': 54, 'address': 'Bhaktpur'}]

In [60]:
d = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter phone = "))
    add = input("Enter ncell phone = ")
    x = {'name':name,'age':age,"add":add}
    d.append(x)
print(d)

Enter n = 2
Enter name = Subarna
Enter phone = 89841
Enter ncell phone = 63213
Enter name = Nepal
Enter phone = 165310
Enter ncell phone = 1023.
[{'name': 'Subarna ', 'age': 89841, 'add': '63213'}, {'name': 'Nepal', 'age': 165310, 'add': '1023.'}]

In [3]:
# dict inside dict
d = {1:{'name': 'Ram', 'age': 34, 'address': 'kathmandu'},
     2:{'name': 'Shyam', 'age': 24, 'address': 'Lalitpur'},
     3:{'name': 'Hari', 'age': 54, 'address': 'Bhaktpur'}}
print(type(d))

<class 'dict'>

In [5]:
d = {}
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    x = {'name':name,'age':age,"add":add}
    d[i] = x
print(d)

Enter n = 2
Enter name = Subarna
Enter age = 24
Enter add = bkt
Enter name = Nepal
Enter age = 22
Enter add = ktm
{1: {'name': 'Subarna', 'age': 24, 'add': 'bkt'}, 2: {'name': 'Nepal', 'age': 22, 'add': 'ktm'}}

In [6]:
    d[1]['name']

'Subarna'

In [7]:
d[1]['age']

24

In [9]:
d[1]['name'] = "Ram Prasad"
d

{1: {'name': 'Ram Prasad', 'age': 24, 'add': 'bkt'},
 2: {'name': 'Nepal', 'age': 22, 'add': 'ktm'}}

In [10]:
a = {1: {'name': 'Ram Prasad', 'age': 24, 'add': 'bkt'},
     2: {'name': 'Nepal', 'age': 22, 'add': 'ktm'}}
del a[1]
a

{2: {'name': 'Nepal', 'age': 22, 'add': 'ktm'}}

In [12]:
a = {1: {'name': 'Ram Prasad', 'age': 24, 'add': 'bkt'},
     2: {'name': 'Nepal', 'age': 22, 'add': 'ktm'}}
del a[1]
a

{2: {'name': 'Nepal', 'age': 22, 'add': 'ktm'}}

In [17]:
a = {1: {'name': 'Ram Prasad', 'age': 24, 'add':{"per": 'bkt',"Temp": "Rampur"}},
     2: {'name': 'Nepal', 'age': 22, 'add': 'ktm'}}

a

{1: {'name': 'Ram Prasad', 'age': 24, 'add': {'per': 'bkt', 'Temp': 'Rampur'}},
 2: {'name': 'Nepal', 'age': 22, 'add': 'ktm'}}