In [ ]:
n = int(input("Enter n = "))
for n in range(3):
    name = input("Enter name = ")
    Qty = float(input("Enter Qty = "))
    Price = float(input("Enter Price = "))
    Total = Qty*Price
    Bill = f"name:{name}\nQty:{Qty}\nPrice:{Price}\nTotal:{Total}"
    print(Bill)

In [ ]:
name = input("Enter name = ")
Qty = float(input("Enter Qty = "))
Price = float(input("Enter Price = "))
Total = Qty*Price
Bill = f"name:{name}\nQty:{Qty}\nPrice:{Price}\nTotal:{Total}"
print(Bill)

In [ ]:
# Python Collection
# list
# tuple
# dict
# set

In [ ]:
# List
# -Indexing
# -Ordered
# -Multiple and duplicate
# -Mutuable

In [ ]:
a = [1,2,3,4,5,6,7,8,9,0]
b = ["Apple","Ball","Cat","Dog","Elephant"]
print(type(a))
print(type(b))

In [ ]:
b = ["Apple","Ball","Cat","Dog","Elephant"]
print(b[0])
print(b[0:4])
print(b[0:5:2])
print(b[::-1])
print(b[-1])

In [ ]:
b = ["Apple","Ball","Cat","Dog","Elephant","Apple"]
print(b[0])
print(b[0:4])
print(b[0:5:2])
print(b[::-1])
print(b[-1])
print(b)

In [ ]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]
c = a+b
print(c)

In [ ]:
a = [1,2,3,4,5]
b = a*2
print(b)

In [ ]:
a = [1,2,3,4,5]
for i in a:
    print(a)

In [ ]:
b = ["Apple","Ball","Cat","Dog","Elephant","Apple"]
for i in b:
    print(i)

In [ ]:
# append() insert() extend()  # append vaneko list vitra add garna ho

In [ ]:
a=[]
n = int(input("Enter n ="))
for i in range(n):
    x = int(input("Enter x = "))
    a.append(x)
print(a)

In [ ]:
a=[]
n = int(input("Enter n ="))
for i in range(n):
        x = int(input("Enter x = "))
        a.append(x)
        print(a)

In [ ]:
print("The max value = ",max(a))
print("The min value = ",min(a))
print("The sum value = ",sum(a))
a.sort()
print(a)

In [ ]:
print("The max value = ",max(a))
print("The min value = ",min(a))
print("The sum value = ",sum(a))
a.sort()
a.reverse()
print(a)

In [ ]:
print("The max value = ",max(a))
print("The min value = ",min(a))
print("The sum value = ",sum(a))
a.sort()
print(a)
a.reverse()
print(a)

In [ ]:
b = ["Apple","Ball","Cat","Dog","Elephant","Apple","Ant","ant"]
b.sort()
print(b)

In [ ]:
b = ["Apple","Ball","Cat","Dog","Elephant","Apple",".Ant","ant"]
b.sort()
print(b)

In [ ]:
#insert()
b = ["Apple","Ball","Cat","Dog","Elephant","Apple","Ant","ant"]
b.insert(1,"Apple")
print(b)

In [5]:
#extend()
a = ["Apple","Ball","Cat","Dog","Elephant","Apple","Ant","ant"]
b = [1,2,3,4,5,6,7,8,9]
a.extend(b)
print(a)

['Apple', 'Ball', 'Cat', 'Dog', 'Elephant', 'Apple', 'Ant', 'ant', 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
# update list
a= ["Apple","Ball","Cat","Dog","Elephant","Apple","Ant","ant"]
a[0] = "ball"
print(a)

['ball', 'Ball', 'Cat', 'Dog', 'Elephant', 'Apple', 'Ant', 'ant']

In [12]:
a= ["Apple","Ball","Cat","Dog","Elephant","Apple","Ant","ant"]
a[1:2] = ["1","2"]
print(a)

['Apple', '1', '2', 'Cat', 'Dog', 'Elephant', 'Apple', 'Ant', 'ant']

In [11]:
a= ["Apple","Ball","Cat","Dog","Elephant","Apple","Ant","ant"]
a[0:2] = ["1","2"]
print(a)

['1', '2', 'Cat', 'Dog', 'Elephant', 'Apple', 'Ant', 'ant']

In [ ]:
# #Removing the value from list
# del remove()pop()

In [13]:
a= ["Apple","Ball","Cat","Dog","Elephant","Apple","Ant","ant"]
del a[0]
print(a)

['Ball', 'Cat', 'Dog', 'Elephant', 'Apple', 'Ant', 'ant']

In [14]:
a= ["Apple","Ball","Cat","Dog","Elephant","Apple","Ant","ant"]
del a[0:5]
print(a)

['Apple', 'Ant', 'ant']

In [20]:
a= ["Ball","Cat","Dog","Elephant","Apple","Ant","ant"]
print(a.index("Apple"))

4

In [23]:
a= ["Ball","Cat","Dog","Elephant","Ant","ant"]
print(a.index("Dog"))

2

In [32]:
a = ["Apple","Ball","Cat","Dog","Elephant","Apple","Ant","ant"]
l = len(a)
for i in range(l):
    if a[i] == "Apple":
        print(i)

0
5

In [33]:
a = ["Apple","Ball","Cat","Dog","Elephant","Apple","Ant","ant"]
l = len(a)
search = input("Enter search value = ")
for i in range(l):
    if a[i] == search:
        print(i)

Enter search value = Apple
0
5

In [38]:
a= ["Ball","Cat","Dog","Elephant","Ant","ant"]
a.remove("Dog")
print(a)

['Ball', 'Cat', 'Elephant', 'Ant', 'ant']

In [40]:
a = ["Apple","Ball","Cat","Dog","Elephant","Apple","Ant","ant"]
c = a.count("Apple")
for i in range(c):
    a.remove("Apple")
    print(a)

['Ball', 'Cat', 'Dog', 'Elephant', 'Apple', 'Ant', 'ant']
['Ball', 'Cat', 'Dog', 'Elephant', 'Ant', 'ant']

In [43]:
a = ["Apple","Ball","Cat","Dog","Elephant","Apple","Ant","ant"]
a.pop(0)
a

['Ball', 'Cat', 'Dog', 'Elephant', 'Apple', 'Ant', 'ant']

In [46]:
a = ["Apple","Ball","Cat","Dog","Elephant","Apple","Ant","ant","Ball"]
b = a.pop(5)
print(a)
print(b)

['Apple', 'Ball', 'Cat', 'Dog', 'Elephant', 'Ant', 'ant', 'Ball']
Apple

In [ ]:
# search in list

In [2]:
a = ["Apple","Ball","Cat","Dog","Elephant","Apple","Ant","ant","Ball"]
search = input("Enter search = ")
if search in a:
    print(search)
    print("Yes")
    print(a.count(search))

Enter search = Dog
Dog
Yes
1

In [12]:
c = 0
a = ["Apple","Ball","Cat","Dog","Elephant","Apple","Ant","ant","Ball"]
search = input("Enter search = ")
for i in range(len(a)):
    if search.lower() ==a[i].lower():
            c = c+1
print(c)
if c>0:
    print("Search is over value found")
else:
    print("Provide match is not found")

Enter search = Doog
0
Provide match is not found

In [13]:
# list inside list

In [14]:
a = [[1,2,3],
    [4,5,6],
    [7,8,9]]
type(a)

list

In [15]:
info = [["Ram",34,"Kathmand"],
        ["Shyam",49,"lalitpur"],
        ["hari",50,"bhaktpur"]]
print(info)

[['Ram', 34, 'Kathmand'], ['Shyam', 49, 'lalitpur'], ['hari', 50, 'bhaktpur']]

In [17]:
info[0]

['Ram', 34, 'Kathmand']

In [20]:
info[0][1]

34

In [21]:
info[1][0]

'Shyam'

In [22]:
info = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    x = [name,age,add]
    info.append(x)
print(info)

Enter n = 2
Enter name = Subarna
Enter age = 22
Enter add = Dhobighat
Enter name = Nepal
Enter age = 23
Enter add = lalitpur
[['Subarna', 22, 'Dhobighat'], ['Nepal', 23, 'lalitpur']]

In [23]:
info

[['Subarna', 22, 'Dhobighat'], ['Nepal', 23, 'lalitpur']]

In [24]:
len(info)

2

In [25]:
for i in info:
    print(i)

['Subarna', 22, 'Dhobighat']
['Nepal', 23, 'lalitpur']

In [27]:
name = input("Enter name = ")
for i in info:
    if name in i:
        print(i)
    else:
        print("Username not found")

Enter name = Ram
Username not found
Username not found

In [28]:
    age = int(input("Enter age = "))
    for i in info:
        if i[1]>=age:
            print(i)

Enter age = 30

In [31]:
age = int(input("Enter age = "))
for i in info:
    if i[1]>=age:
        print(i)
    else:
        print("Age is invalid")

Enter age = 20
['Subarna', 22, 'Dhobighat']
['Nepal', 23, 'lalitpur']

In [44]:
name = input("Enter name = ")
for i in info:
    if name.lower() == i[0].lower():
        print(i)

Enter name = subarna
['Subarna', 22, 'Dhobighat']

In [45]:
# update

In [47]:
info[0]= ["Ram",34,"kathmandu"]
info[0][0] = "RAM"
info

[['RAM', 34, 'kathmandu'], ['Nepal', 23, 'lalitpur']]

In [48]:
info

[['RAM', 34, 'kathmandu'], ['Nepal', 23, 'lalitpur']]

In [50]:
#del remove() pop()
del info[0]
info

[['Nepal', 23, 'lalitpur']]

In [61]:
info = [['Subarna', 22, 'Dhobighat'],
       ['Nepal', 23, 'lalitpur'],
       ["Ram",45,"Bhaktapur"],
       ['Hari',80,'Chitwan']]
print(info)

[['Subarna', 22, 'Dhobighat'], ['Nepal', 23, 'lalitpur'], ['Ram', 45, 'Bhaktapur'], ['Hari', 80, 'Chitwan']]

In [62]:
info.remove(['Subarna', 22, 'Dhobighat'])
print(info)

[['Nepal', 23, 'lalitpur'], ['Ram', 45, 'Bhaktapur'], ['Hari', 80, 'Chitwan']]

In [ ]:
info = [['Subarna', 22, 'Dhobighat',10000],
       ['Nepal', 23, 'lalitpur',20000],
       ["Ram",45,"Bhaktapur",30000],
       ['Hari',80,'Chitwan',40000]]