In [ ]:
# loop
# for loop
# white loop

In [ ]:
# for loop
range(5) # 0,1,2,3,4 # Function
range(1,5) # 1,2,3,4
range() # Range vitra int martai janxa 
range(1,10,2) # 1,3,5,7,9  # 1+2 ko case ma janxa

In [2]:
for i in range(5):
    print(i,"hello world")

0 hello world
1 hello world
2 hello world
3 hello world
4 hello world

In [3]:
for i in range(1,5):
    print(i,"hello world")

1 hello world
2 hello world
3 hello world
4 hello world

In [4]:
for i in range(1,10,2):
    print(i,"hello world")

1 hello world
3 hello world
5 hello world
7 hello world
9 hello world

In [5]:
for i in range(5,0,-1):
    print(i,"hello world")  #Decregement

5 hello world
4 hello world
3 hello world
2 hello world
1 hello world

In [6]:
a = int(input("Enter a = "))
for i in range(1,11):
    print(a*i)

Enter a = 5
5
10
15
20
25
30
35
40
45
50

In [8]:
a = int(input("Enter a = "))
for i in range(1,11):
    print(a,"*",i,"=",a*i)

Enter a = 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [9]:
for i in range(2):
    a = int(input("Enter a = "))

Enter a = 1
Enter a = 2

In [12]:
s = 0
for i in range(12):
    a = int(input("Enter a = "))
    Runing_balance = s + a
    print(Running_balance)

Enter a = 10

NameError: name 'Running_balance' is not defined

In [13]:
s = 0
for i in range(6):
    a = int(input("Enter a = "))
    s = s + a
    print(s)

Enter a = 1
1
Enter a = 2
3
Enter a = 3
6
Enter a = 4
10
Enter a = 5
15
Enter a = 6
21

In [1]:
opening_balance = 0
for i in range(6):
    a = int(input("Enter a = "))
    Runing_balance = opening_balance + a
    print(opening_balance)

Enter a = 1
0
Enter a = 2
0
Enter a = 3
0
Enter a = 4
0
Enter a = 5
0
Enter a = 6
0

In [1]:
# s = str()
s = ""
for i in range(5):
    a = input("Enter a = ")
    s = s + a + "\n"
print(s)

Enter a = Ram
Ram

Enter a = shyam
Ram
shyam

Enter a = hari
Ram
shyam
hari

Enter a = Subarn
Ram
shyam
hari
Subarn

Enter a = Subarna
Ram
shyam
hari
Subarn
Subarna

In [3]:
s = ""
for i in range(5):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    s = s + name + str(phone) + "\n"
print(s)

Enter name = Subarn
Enter phone = 98
Enter name = ram
Enter phone = 12
Enter name = yash
Enter phone = 35
Enter name = hari
Enter phone = 658
Enter name = name
Enter phone = 51
Subarn98
ram12
yash35
hari658
name51

In [4]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    s = s + name + " " + str(phone) + "\n"
print(s)

Enter n = 2
Enter name = Subarna
Enter phone = 9861
Enter name = hari
Enter phone = 3981
Subarna 9861
hari 3981

In [ ]:
# name price quantity total all_total

In [11]:
# bill = Str()
bill = ""
all_total = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    qty = float(input("Enter qty = "))
    total = price * qty
    bill = bill + name + " "+ str(price) + " "+ str(qty) + str(total) + "\n"
    all_total = all_total + total
print(bill)
print(all_total)

Enter n = 1
Enter name = Chips
Enter price = 100
Enter qty = 10.5
Chips 100 10.51050.0

1050.0

In [1]:
# bill = Str()
bill = ""
all_total = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    qty = float(input("Enter qty = "))
    total = price * qty
    bill = bill + name + " "+ str(price) + " "+ str(qty) + " " +str(total) + "\n"
    all_total = all_total + total
print(bill)
print(all_total)

Enter n = 3
Enter name = chips
Enter price = 10
Enter qty = 2.5
Enter name = Subarna
Enter price = 20
Enter qty = 1.5
Enter name = nepal
Enter price = 5
Enter qty = 1.5
chips 10 2.5 25.0
Subarna 20 1.5 30.0
nepal 5 1.5 7.5

62.5

In [4]:
s = 0
n = int(input("Enter n = "))
for i in range(n):
    s = s + i
print(s)

Enter n = 100
4950

In [8]:
# factorial 1,2,3,4,5  #5!
s = 1
n = int(input("Enter n = "))
for i in range(1,n+1):
    s = s * i
print(s)

Enter n = 5
120

In [12]:
n = 10
for i in range(1,n):
    print((n-1))*" ",(2-i-1)* "o"

9

TypeError: can't multiply sequence by non-int of type 'NoneType'

In [2]:
# loop in string 
a = "Hello world"
for i in a:
    print(i)

H
e
l
l
o

w
o
r
l
d

In [3]:
a = "Hello world"
for i in a:
    print(i,"hello world")

H hello world
e hello world
l hello world
l hello world
o hello world
  hello world
w hello world
o hello world
r hello world
l hello world
d hello world

In [6]:
# end = " "  yo use garda horizental aauxa 

a = "Hello world"
for i in a:
    print(i,end = "")

H__e__l__l__o__ __w__o__r__l__d__

In [10]:
a = "Hello world"
for i in a:
    if i != " ":
        print(i,end = "")

Helloworld

In [11]:
# even number
for i in range(0,21):
    if i%2==0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20

In [13]:
# odd number
for i in range(0,21):
    if i%2!=0:
        print(i)

1
3
5
7
9
11
13
15
17
19

In [18]:
a = "Hello world. I am python.!"
for i in a:
    if i != "." and i!= "!":
        print(i,end = "")

Hello world I am python

In [ ]:
# While loop
# control Statement
# break'
# continue
# pass

In [ ]:
# Break Statement

In [2]:
for i in range(10):
    if i ==5:
        break
    print(i)

0
1
2
3
4

In [5]:
for i in range(10):
    if i ==5:
        continue
    print(i, end =" ")

0 1 2 3 4 6 7 8 9

In [13]:
a = "Hello world"
for i in a:
    if i == " ":
        break
    print(i, end = "")

Hello

In [14]:
a = "Hello world. I am python"
for i in a:
    if i == ".":
        break
    print(i, end = "")

Hello world

In [15]:
a = "Hello world. I am python"
for i in a:
    if i == ".":
        break
    print(i, end = "")

Hello world

In [ ]:
# Pass statement
# Means Do not thing

In [16]:
a = 5
if a == 5:
    pass

In [ ]:
 #  for else loop

In [5]:
n = int(input("Enter n = "))
if n >2:
    for i in range(2,n):
        if n%i==0:
            print("The number is composite")
            break
    else:
        print("The number is prime")
else:
    print("The value of n>2")

Enter n = 2
The value of n>2

In [ ]:
# While loop

In [ ]:
# while True:
#     print("Hello world")
    Infinity time runs

In [6]:
a = 0
while a<5:
    print("Hello world")
    a = a + 1

Hello world
Hello world
Hello world
Hello world
Hello world

In [10]:
a = 0
while a<=5:
    print(a, "Hello world")
    a = a + 1

0 Hello world
1 Hello world
2 Hello world
3 Hello world
4 Hello world
5 Hello world

In [11]:
a = 5
while a>=0:
    print(a, "Hello world")
    a-=1

5 Hello world
4 Hello world
3 Hello world
2 Hello world
1 Hello world
0 Hello world

In [13]:
i = 1
a = int(input("Enter a = "))
while i<=10:
    print(a,"*",i,"=",a*1)
    i = i+1

Enter a = 10
10 * 1 = 10
10 * 2 = 10
10 * 3 = 10
10 * 4 = 10
10 * 5 = 10
10 * 6 = 10
10 * 7 = 10
10 * 8 = 10
10 * 9 = 10
10 * 10 = 10

In [1]:
i = 0
s = 0
while i<5:
    a = int(input("Enter a = "))
    s = s + a
    i = i + 1
    print(s)

Enter a = 1
1
Enter a = 2
3
Enter a = 3
6
Enter a = 4
10
Enter a = 5
15

In [ ]:
i = 0
bill = ""
all_total = 0
n = int(input("Enter n = "))
while i<n:
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    qty = float(input("Enter qty = "))
    total = price * qty
    bill = bill + name + " "+ str(price) + " "+ str(qty) + " " +str(total) + "\n"
    all_total = all_total + total
    i = i +1
print(bill)
print(all_total)

In [3]:
i = 0
s = 1
while i<5:
    a = int(input("Enter a = "))
    i = i + 1
    s = s + a
    print(s)

Enter a = 5

In [ ]:
n = int(input("Enter n = "))
if n >2:
    for i in range(2,n):
        if n%i==0:
            print("The number is composite")
            break
    else:
        print("The number is prime")
else:
    print("The value of n>2")

In [5]:
i = 0
while i<5:
    if i ==5:
        break
    i = i+1
    print(i)

1
2
3
4
5

In [8]:
i =

1
2
3
4
5