In [15]:
# # Set
# -No indexing
# -Unordered
# -multiple data but no duplicate
# -Mutable
# concate hudaina (add multiple divide)

In [3]:
a = set()

In [4]:
a = {'Apple','Ball','cat','Dog'}
print(a)

{'Dog', 'Ball', 'Apple', 'cat'}

In [6]:
print(a[0])

TypeError: 'set' object is not subscriptable

In [7]:
print(a)

{'Dog', 'Ball', 'Apple', 'cat'}

In [9]:
a = {'Apple','Ball','cat','Dog','Apple'}
print(a)

{'Dog', 'Ball', 'Apple', 'cat'}

In [10]:
a = {'Apple','Ball','cat','Dog'}
for i in a:
    print(i)

Dog
Ball
Apple
cat

In [11]:
s = {1,2,3}
print(type(s))

<class 'set'>

In [14]:
s = set()
s.add("Apple")
s.add("Ball")
s.add("Cat")
print(s)

{'Cat', 'Ball', 'Apple'}

In [17]:
a = {1,2,3,4,5}
a.update({6,7,8,9})
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [18]:
a = {1, 2, 3, 4, 5, 6, 7, 8, 9}
a.remove(2)
print(a)

{1, 3, 4, 5, 6, 7, 8, 9}

In [21]:
a = [1,2,3,4,5,6,7,8,1,1,2,3,4,5,]
a = set(a)
a = list(a)
a

[1, 2, 3, 4, 5, 6, 7, 8]

In [22]:
a = {1,3,5,7,9}
b = {6,7,8,9,10}
i = a.intersection(b)
print(i)

{9, 7}

In [28]:
u = a.union(b)
print(u)

{1, 3, 5, 6, 7, 8, 9, 10}

In [31]:
U = {1,2,3,4,5,6,7,8,9,10}  # Universal Set

In [32]:
print(U-u)

{2, 4}

In [44]:
U = {'Nabin', 'Subarna', 'Nepal', 'Job', 'hannry', 'Steave', 'Robin','xyz'}
Apple = {"Steave","Job","Robin","Nabin","hannry"}
Ms = {"Steave","Job","Subarna","Nepal"}

Am = Apple.intersection(Ms)
print(Am)

un = Apple.union(Ms)
print(un)

ap = Apple-Ms
print(ap)

ab = Ms-Apple
print(ab)

print(U-un)

{'Job', 'Steave'}
{'Nabin', 'Subarna', 'Nepal', 'Job', 'hannry', 'Steave', 'Robin'}
{'Robin', 'Nabin', 'hannry'}
{'Subarna', 'Nepal'}
{'xyz'}

In [60]:
Job = {"python","Restapi","Django","ml","tensorflow","pytorch"}
Profile = {"python","Django","Html","Css"}

Skill = Job.intersection(Profile)
print(Skill)
print(len(Skill))

len_Job_Skill = len(Job)
print(len_Job_Skill)

{'Django', 'python'}
2
6

In [64]:
Job = {"python","Restapi","Django","ml","tensorflow","pytorch"}
Profile = {"python","Django"}

print(Profile.issuperset(Job))
print(Profile.issubset(Job))

False
True