In [ ]:
# # Tuple
# -Indexing
# -ordered
# -mutiple and dublicate

In [ ]:
t = tuple()

In [ ]:
t = (1,2,3,4,5,6,7,8,9)
print(type(t))

In [ ]:
t = (1)
print(type(t))

In [ ]:
t = (1,)
print(type(t))

In [ ]:
# No create   # append insert extend
# No update  # Sort()
# No delete # del pop remove
# Only read 

#Jastai gender or country district

In [ ]:
t = ("Apple","Ball","Cat","Dog")
print(t[0])

In [ ]:
t = ("Apple","Ball","Cat","Dog","Apple")
print(t)
print(t[0])

In [1]:
a = (1,2,3,4,5,6,7,8,9)
print(max(a))
print(min(a))
print(sum(a))

9
1
45

In [ ]:
t = ("Apple","Ball","Cat","Dog","Apple")
if "Apple" in t:
    print("Yes")

In [ ]:
a = (1,2,3,4,5,6)
b = (7,8,9,0)
c = a+b
print(c)

In [ ]:
# yedi create nai garnu parne case xa vani
t = ()
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    t = t + (x,)
    
print(t)

In [ ]:
a = "Apple"
tuple(a)

In [ ]:
list("Apple")

In [ ]:
t = ("Apple","Ball","Cat","Dog","Apple")
list(t)

In [2]:
t = ("Apple","Ball","Cat","Dog","Apple")
t = list(t)
t

['Apple', 'Ball', 'Cat', 'Dog', 'Apple']

In [3]:
del t[0]
t = tuple(t)
t

('Ball', 'Cat', 'Dog', 'Apple')

In [5]:
#tuple inside tuple
t = ((1,2,3),
    (4,5,6),
     (7,8,9))
print(t)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [6]:
info = ()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    x = (name,age,add)
    info = info + (x,)
print(info)

Enter n = 2
Enter name = Subarna
Enter age = 22
Enter add = dhobighat
Enter name = Nepal
Enter age = 23
Enter add = Lalitpur
(('Subarna', 22, 'dhobighat'), ('Nepal', 23, 'Lalitpur'))

In [7]:
a = {("Sita","Gita"): 91526132201,
    "hari": 941631653}
a

{('Sita', 'Gita'): 91526132201, 'hari': 941631653}

In [8]:
a = ("Sita","Gita")